{% extends "::frontend_base_layout.html.twig" %}

{% block body %}
    <section id="articles">
        <br /><br /><br /><br /><br />
        <div class="container">
            <h4 class="text-center">Disclaimer</h4>
            <hr>
            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing
                luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis
                tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti
                vestibulum quis in sit varius lorem sit metus mi.</p>

            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing
                luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis
                tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti
                vestibulum quis in sit varius lorem sit metus mi.</p>

            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing
                luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis
                tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti
                vestibulum quis in sit varius lorem sit metus mi.</p>

            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing
                luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis
                tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti
                vestibulum quis in sit varius lorem sit metus mi.</p>

            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing
                luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis
                tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti
                vestibulum quis in sit varius lorem sit metus mi.</p>
            <br />
            <br />
        </div>
    </section>

{% endblock %}
