{% extends "::frontend_base_layout.html.twig" %}

{% block body %}
    <section id="articles">
        <br/><br/><br/><br/><br/>

        <div class="container">
            <h4 class="text-center">Terms &amp; Condition</h4>
            <hr>
            <ol>
                <li>
                    <strong>THIS IS A BINDING AGREEMENT</strong>
                    <ol>
                        <li>Below are the terms that apply to all Subscribers of Sugarlogger.com products and services. Sugarlogger.com provides you with secure, safe online storage for your important personal health and medical records, and other vital documents. You should familiarize yourself
                            with
                            these terms because they establish rights and responsibilities as a Subscriber. We understand that the privacy and security of your personal records are important, and we use some of the most advanced security technology available that is appropriate to protect that
                            privacy.
                            However, please keep in mind that your records are only secure if you protect your password and change your password frequently. As you navigate our web site and use the services we offer, do not hesitate to contact us if you have any questions.
                            <br/>
                            This Terms and Conditions of Use Agreement (Agreement) between you and Sugarlogger Technologies Pvt. Ltd sets forth the general terms and conditions governing your use of the Sugarlogger.com Site and the products and services available on the Site. BY ACCESSING OR USING
                            THE
                            SERVICES, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT. IF YOU DO NOT WISH TO BE BOUND BY THIS AGREEMENT, YOU MAY NOT ACCESS OR USE THE SUGARLOGGER.COM SITE.
                        </li>
                        <li>
                            As used in this Agreement, the terms "Sugarlogger.com", "we," "us," or "our" refer to Sugarlogger Technologies Pvt. Ltd As used in this Agreement, the term "Subscriber" is as defined herein.
                        </li>
                        <li>The Sugarlogger.com web site (the "Site") is an online information and communications service provided by Sugarlogger Technologies Pvt. Ltd that contains health and health-related information about an individual or multiple related individuals that is submitted and/or
                            entered
                            by healthcare providers, healthcare organizations, and/or the individual and/or his or her designee.
                        </li>
                        <li>
                            Definitions.
                            <ol type="a">
                                <li>"Account" shall mean the file of health and health-related information of a Subscriber and/or his or her family members that may be accessed, stored, used, and updated only by the Subscriber and/or his or her designee(s).</li>
                                <li>"Disclosing Party" shall mean the party that is disclosing health or health-related information for inclusion in a Subscriber’s Account.</li>
                                <li>"Subscriber" shall mean an individual who executes or enters into this Agreement with Sugarlogger Technologies Pvt. Ltd to maintain and store health and health-related information in a Subscriber Account that may be accessed at the Sugarlogger.com Site, or who
                                    accepts
                                    the terms and conditions set forth in this Agreement so as to be able to access and/or use the Sugarlogger.com Site. A Subscriber may access, use, store, and maintain his or her own information in the Subscriber’s Account as well as the health and health-related
                                    information of family members.
                                </li>
                                <li>"User" shall mean an individual whose health or health-related information is stored in a Subscriber’s Account and who accesses or uses the Site with the permission and at the discretion of the Subscriber.</li>
                            </ol>
                        </li>
                        <li>
                            The Sugarlogger.com Site is for personal and non-commercial access and use only. As a condition of continued use of the Site, Subscribers and Users agree to use the Site solely in accordance with the terms and conditions set forth in this Agreement, as amended from time
                            to
                            time without notice.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>RIGHT TO USE, SITE CONTENT, GENERAL INFORMATION</strong>
                    <ol>
                        <li>Sugarlogger Technologies Pvt. Ltd hereby grants to the Subscriber and Users the right to access, view, and use the Site, subject to the terms and conditions of this Agreement. Sugarlogger Technologies Pvt. Ltd reserves the right to add new features to the Site and remove
                            current features from the Site without notice. The Subscriber and/or a User may download and/or print a copy of the information stored in their respective Accounts from the Site for personal use only and, when appropriate.
                        </li>
                        <li>The content on the Sugarlogger.com Site and in Subscribers’ Accounts, including but not limited to, text, graphics, images, information obtained from third parties, links, and other material (“Content”) is intended for informational and educational purposes only.</li>
                        <li>The Content on the Sugarlogger.com Site should not be considered medical or health advice. Nothing on the Site is intended to suggest a course of treatment for a particular Subscriber or User. The Content is not intended to be a substitute for professional medical advice,
                            diagnosis, or treatment.
                        </li>
                        <li>Subscribers and Users should never disregard professional medical advice or treatment or delay seeking professional medical advice or treatment because of something on the Sugarlogger.com Site.</li>
                        <li>Information that is obtained from the Sugarlogger.com Site is not exhaustive, should not be considered complete, and does not cover all diseases, ailments, physical or mental conditions, or their treatment. The advice of the Subscriber’s or User’s physician and/or any
                            other qualified healthcare provider should be obtained directly from that physician or provider as appropriate. ANY QUESTIONS ABOUT ANY MEDICAL CONDITION OR TREATMENT FOR ANY CONDITION SHOULD BE DIRECTED TO YOUR PHYSICIAN OR A QUALIFIED HEALTHCARE PROVIDER.
                        </li>
                        <li>Registration:In order to register, you will provide some basic information to us about yourself, such as your first name, last name, date of birth, email address etc.During registration you will provide an e-mail address and or your mobile number. Your username will be
                            your email id, which cannot be changed. The password (can be changed by user) will be automatically generated and sent to your mobile or email. These are your credentials for accessing Services that are only available to subscribers.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>ACCESS TO AND USE OF THE SITE BY SUBSCRIBERS AND USERS</strong>
                    <ol>
                        <li>
                            Access to and use of the Sugarlogger.com site is available on a pre-paid basis either for a year, three years or five years depends on the subscription.
                            <ol type="a">
                                <li>The Subscription Fee to access and use the Sugarlogger.com Site and to establish an Account is defined in the Sign Up & Pricing section of the Sugarlogger.com Site. Subscribers may purchase or subscribe Sugarlogger.com Premium Services on the Sugarlogger.com Site
                                    for, monthly, a year, three years or five years subscription in accordance with Paragraph 3.1(b) (Subscription Period) hereinafter.
                                </li>
                                <li>n the case of an Annual Subscription, the Subscriber shall be entitled to access and use the Sugarlogger.com Site for an Initial Term of one (1) year, three years or five years as per the plan they select from the date of registration provided the Subscriber and
                                    any Users of the Subscriber’s Account remain in compliance with the terms and conditions of this Agreement.
                                </li>
                                <li>This Agreement will not be automatically renewed after the term of service selected. But there will be a grace period of one month provided for renewal. This grace period would not be considered extra at the time of renewal and renewal would be counted from
                                    beginning of the grace period. The term can be renewed again as per the use of the subscriber i.e. 1 year, 3 years and 5 years.The subscriber’s account would have premium services in our records for a month of grace period. After that the premium services would be
                                    automatically removed. Subscriber can renew the services anytime later in the time period to avail premium services again.
                                </li>
                                <li>By registering as a Subscriber and/or registering Users within the Subscriber’s Account on Sugarlogger.com.in, each Subscriber authorizes Sugarlogger Technologies Pvt. Ltd to charge the Subscriber’s credit card, Debit card or the mode of payment selected for the
                                    amount of the Subscription Fee within 24 hours of registration. The Subscription Fee will be charged on the first day of the Initial Term.
                                </li>
                            </ol>
                        </li>
                        <li>Each Subscriber and User may enter or upload, maintain, and store information, including copies of documents, records, images, and information submitted to the Subscriber by healthcare providers or other healthcare organizations, to a personal, secure, and unique Account
                            established for the Subscriber. Sugarlogger Technologies Pvt. Ltd, or a third party acting on behalf of Sugarlogger Technologies Pvt. Ltd, will electronically store and maintain Subscribers’ Accounts on servers at Sugarlogger Technologies Pvt. Ltd or at the site of a
                            third party acting on Crealiant Labs Pvt. Ltd’s behalf.
                        </li>
                        <li>Each Subscriber Account can be tailored by the Subscriber to upload, maintain, and store health and health-related information for only one member that is subscriber himself.</li>
                        <li>Whenever a Subscriber’s information is submitted to or entered in the Subscriber’s Account, that information will be communicated using encryption technology called Secure Socket Layer ("SSL") encryption software. However, Sugarlogger Technologies Pvt. Ltd cannot and will
                            not guarantee that: (a) the information, during its transmission to a Subscriber’s Account, will be protected against loss, misuse or alteration by third parties; or (b) access to Subscribers’ Accounts will be uninterrupted; or (c) SSL encryption cannot be breached.
                        </li>
                        <li>It is the responsibility of each Subscriber to ensure that no unauthorized person shall have access to the Subscriber’s User ID and Passwords. It is each Subscriber’s sole responsibility to control the dissemination and use of the Subscriber’s User ID and Passwords,
                            authorize, monitor and control access to and use of the Subscriber’s Account, and promptly inform Sugarlogger Technologies Pvt. Ltd of any need to deactivate or change the Subscriber’s User ID and/or Passwords. Sugarlogger Technologies Pvt. Ltd cannot and will not assume
                            any responsibility or liability for any information submitted to a Subscriber’s Account or any information that is used or misused whether submitted, used, or misused by (a) the Subscriber; (b) Users on the Subscriber’s Account; (c) the Subscriber’s designee; (d)
                            healthcare providers; (e) other healthcare organizations; (f) other third parties; whether or not acting on the Subscriber’s behalf.
                        </li>
                        <li>The Subscriber hereby grants Sugarlogger Technologies Pvt. Ltd , its employees, officers, directors, agents, and contractors, and all other persons or entities involved in the operation of Sugarlogger Technologies Pvt. Ltd or of the Site the right to access, transmit,
                            receive, monitor, retrieve, store, maintain, and use the information in the Subscriber’s Account to provide the Services and operate the Site, including but not limited to converting documents received on the Subscriber’s behalf to an electronic format, printing and
                            delivering personal Emergency Cards and/or Stickers, and maintaining the Subscriber’s Account.
                        </li>
                        <li>The Subscriber understands and agrees, consents, and authorizes: (a) his or her individually identifiable health information and that of any of the Users on the Subscriber’s Account to be stored, entered, and maintained on the Sugarlogger.com Site in accordance with the
                            terms of this Agreement; and (b) the Subscriber, and anyone with the Subscriber’s Sugarlogger.com User ID and Password, can access, view, add, revise, and/or delete information from the Subscriber’s Account; and (c) the Subscriber, and anyone with the Subscriber’s User ID
                            and Emergency Password, can access and view information stored in the Subscriber’s Emergency Folder and in the Subscriber’s Folder(s).
                        </li>
                        <li>Subscribers to Sugarlogger.com may upload, submit or courier, by e-mail or facsimile their personal health information and medical records, X-rays and other personal medical images, and other health-related information. To the extent permitted by law, any images submitted
                            to Sugarlogger Technologies Pvt. Ltd shall become the property of Sugarlogger Technologies Pvt. Ltd and will not be returned. Sugarlogger Technologies Pvt. Ltd, assumes no responsibility for the quality of X-rays or other personal medical images reproduced on the
                            Sugarlogger.com Site or for medical decisions which are based on X-rays, ECGs, or other personal medical images archived on the Sugarlogger.com Site.
                        </li>
                        <li>he party who submits or enters health or health-related information into Subscribers’ Accounts is solely responsible for its accuracy and completeness. Each Subscriber is responsible for reviewing information in the Subscriber’s Account as well as any documents produced
                            from Sugarlogger Technologies Pvt. Ltd or the Sugarlogger.com Site such as Emergency Cards and Stickers and notifying Sugarlogger Technologies Pvt. Ltd , or a third party designated by Sugarlogger Technologies Pvt. Ltd , of any errors.
                            You may not use any robot, spider, scraper or other automated means to access the Site or Services for any purpose without our express written permission, except that you may use Standard for Robot Exclusion (SRE) -compliant robots ("robots") provided that when connecting
                            to the Site, prior to downloading or indexing any pages on the Site, such robots will immediately visit. You understand that the robots.txt file is the only means by which robots are authorized to access the Site. You agree not to violate any of the robot access policies
                            and acknowledge that any violation of the policies may result in termination of your access to the Site, deactivation or deletion of your registration and all related information and files you have stored, and preclusion of any further access to such files or the Site.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>SUBSCRIBERS’ AND USERS’ RESPONSIBILITIES</strong>
                    <ol>
                        <li>
                            Subscribers and Users agree:
                            <ol type="a">
                                <li>To maintain all equipment required for access to and use of the Sugarlogger.com Site, other than equipment owned or operated by Sugarlogger Technologies Pvt. Ltd or its affiliates and vendors;</li>
                                <li>To maintain the security of User IDs, Passwords, and other confidential information relating to the Subscriber’s Sugarlogger.com Account;</li>
                                <li>Not to introduce onto the Site or to users of the Site, directly or indirectly, computer viruses, worms, Trojan horses or other code that manifests or could potentially manifest contaminating or destructive properties;</li>
                                <li>As to Subscribers and associated Users, to be responsible for all charges resulting from the access and use of the Subscriber’s Account, including unauthorized access and use;</li>
                                <li>To notify Sugarlogger Technologies Pvt. Ltd as soon as reasonably practicable of any real or suspected unauthorized use of the Subscriber’s Account;</li>
                                <li>To comply with instructions provided by Sugarlogger Technologies Pvt. Ltd for using, maintaining, or correcting the Subscriber’s Account; and</li>
                                <li>To comply with the Sugarlogger Technologies Pvt. LtdPrivacy Policy.</li>
                            </ol>
                        </li>
                        <li>
                            Each Subscriber and User is responsible for the communications submitted to or entered into the Subscriber’s Account and their access and use of the Sugarlogger.com Site. A Subscriber, User, and/or a Subscriber’s designee may not, under any circumstances, do any of the
                            following:
                            <ol type="a">
                                <li>Transmit any information that is libellous or defamatory;</li>
                                <li>Transmit any message, data, image or program that is indecent, obscene or pornographic;</li>
                                <li>Transmit any message, data, image or program that would violate the property rights of others, including unauthorized copyrighted materials, trade secrets or other confidential proprietary information and trademarks or service marks used in an infringing manner;
                                </li>
                                <li>Use the Sugarlogger.com Sites to threaten, harass, stalk, abuse or otherwise violate the legal rights, including rights of privacy and publicity, of others;</li>
                                <li>Intercept or attempt to intercept the transmission of files or other private communications not intended for the Subscriber;</li>
                                <li>Use the Sugarlogger.com Site to advertise or offer, on an unsolicited basis, to sell goods or services to other Subscribers or Users or use the Site for purposes of distributing unsolicited messages to one or more individuals;</li>
                                <li>Upload or download files that contain software or other material protected by intellectual property laws, privacy laws, or publicity laws, or any other applicable law unless personally owned or controlled or unless the necessary consent(s) to use, access, and/or
                                    communicate such files has been received;
                                </li>
                                <li>Upload information, documents, and/or files that contain viruses, worms, Trojan horses, corrupted data or other code that manifests or potentially could manifest contaminating or destructive properties;</li>
                                <li>Use the Sugarlogger.com Site in such a manner as to adversely affect the availability of its resources to others;</li>
                                <li>Falsely or fraudulently purport to be an employee or agent of Sugarlogger Technologies Pvt. Ltd ;</li>
                                <li>Cause disruptive incidents;</li>
                                <li>Fail to comply with applicable laws and regulations while using or accessing the Sugarlogger.com Site; or</li>
                                <li>Post or transmit any message or information that is harmful, threatening, abusive or hateful. Sugarlogger Technologies Pvt. Ltd reserves the right to take such action as it deems appropriate in cases where the Sugarlogger.com Site is used to disseminate statements
                                    that are deeply and widely offensive and/or harmful.
                                </li>
                            </ol>
                        </li>
                        <li>Each time a Subscriber or User uploads or posts information, data, a document, or a file to the Sugarlogger.com Site, the Subscriber or User, as applicable, represents and warrants that he or she owns or otherwise controls the rights to the information, data, document, or
                            file, or that he or she has the necessary consents to upload or post it.
                        </li>
                        <li>You represent and warrant that you are at least 18 years of age and that you possess the legal right to enter into this Agreement and to use the Sugarlogger.com Site in accordance with this Agreement.</li>
                        <li>As to Subscribers, you agree to be financially responsible for the use of the Sugarlogger.com Site and for use of your Account by others, including minors for whom you have responsibility and/or who are living with you and for other immediate family members living with
                            you.
                        </li>
                        <li>You further understand and agree to comply with the responsibilities and obligations as set forth in this Agreement, and you understand and agree that failing to comply with any of the foregoing limitations or obligations may result in civil or criminal liability.</li>
                    </ol>
                </li>
                <li>
                    <strong>TERM; TERMINATION</strong>
                    <ol>
                        <li>The Effective Date of this Agreement shall be the date on which the Subscriber registers with the Sugarlogger.com Site.</li>
                        <li>Subject to payment of applicable fees, a Subscriber and the Users included in the Subscriber’s Account, if any, shall be entitled to access and use the Sugarlogger.com Site for a Term of one (1) year, two (2) years, or three (3) years as per the plan subscribed,
                            commencing on the Effective Date, as adjusted for any free trial period, (“Annual Subscription”),
                        </li>
                        <li>Either party may terminate the Subscriber’s right to use the Site and/or his or her Account and participation under this Agreement at any time, with or without cause, by giving written notice to the other party no later than thirty (30) days prior to the end of the
                            Initial or any Renewal Term.
                        </li>
                        <li>The Termination of this Agreement shall not affect any provision of this Agreement which, by its wording or its nature, is intended to remain effective and to continue to operate in the event of termination of this Agreement, and shall not prejudice or affect the rights
                            of any party against another in respect of any breach of the terms and conditions of this Agreement. Notwithstanding the foregoing, the provisions of Sections 8 (Copyright), 10 (Indemnification), 11 (Waiver, Release and Limitation of Liability), and 12 (Miscellaneous)
                            shall survive Termination of this Agreement.
                        </li>
                        <li>Upon termination, Sugarlogger technologies Pvt. Ltd. will retain data in a Subscriber’s Account pursuant to Sugarlogger technologies Pvt. Ltd’s standard data retention policy, but in no case less than thirty (30) days, after which Subscriber Account data will be
                            destroyed.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>PRIVACY POLICY</strong>

                    <br/>
                    Sugarlogger Technologies Pvt. Ltd. considers the privacy of its Subscribers and Users to be of the utmost importance. Please see the Sugarlogger Technologies Pvt. Ltd Privacy Policy for a detailed description of the information gathering and dissemination practices for the
                    Sugarlogger.com Site.
                </li>
                <li>
                    <strong>PRIVACY POLICY</strong>
                    <ol>
                        <li>Sugarlogger Technologies Pvt. Ltd Pvt. Ltd. has complete and sole discretion over the operation of the Sugarlogger.com Site. Sugarlogger Technologies Pvt. Ltd may, among other things: (a) delete images and/or personal health records in the event a Subscriber fails to
                            maintain a current payment status; (b) subject to its Privacy Policy, make available to third parties information relating to Sugarlogger Technologies Pvt. Ltd as well as aggregate, de-identified information about Subscribers and Users; and (c) withdraw, suspend or
                            discontinue any functionality or feature of the Sugarlogger.com Site without prior notice.
                        </li>
                        <li>Sugarlogger Technologies Pvt. Ltd shall maintain technological systems, policies, and procedures to guard against unauthorized access to information that is transmitted electronically, including encryption and/or appropriate technical security mechanisms.</li>
                        <li>Sugarlogger Technologies Pvt. Ltd shall not use, disclose, or process the information submitted for inclusion in a Subscriber’s Account except to the extent necessary for the proper management and administration of the information or in order to carry out the legal
                            responsibilities of Sugarlogger Technologies Pvt. Ltd .
                        </li>
                        <li>Subscribers and Users are encouraged to use discretion while browsing the Internet on searches initiated from the Sugarlogger.com Site. Subscribers and Users understand that the Sugarlogger.com Site may link unintentionally to sites containing information that some people
                            may find inappropriate or offensive. Links may also lead to sites that contain inaccurate information, false or misleading advertising, or information that violates copyright, libel or defamation laws.
                        </li>
                        <li>Sugarlogger Technologies Pvt. Ltd makes no representations concerning any effort to review any or all of the content of sites for which links are provided on the Sugarlogger.com Site. Sugarlogger Technologies Pvt. Ltd does not in anyway operate, control or endorse any
                            information, products or services provided by third parties through the Internet.
                        </li>
                        <li>The inclusion of any link on the Sugarlogger.com Site does not imply an endorsement by Sugarlogger Technologies Pvt. Ltd of any information, products, or services offered by the linked website, but is for Sugarlogger Technologies Pvt. Ltd Subscribers’ and Users’ reference
                            and convenience only.
                        </li>
                        <li>Clicking on a link on the Sugarlogger.comSite which directs the Subscriber or User to an off-Site page or to another site is at the Subscriber’s or User’s own risk and subject to the terms and conditions of use of such sites.</li>
                        <li>Sugarlogger Technologies Pvt. Ltd. cannot and will not review communications and materials posted or uploaded to the Sugarlogger.com Site for accuracy or completeness, and are not responsible for the content of such communications and materials.</li>
                        <li>Sugarlogger Technologies Pvt. Ltd. reserves the right to remove or block communications or materials that Sugarlogger Technologies Pvt. Ltd determines, in its sole discretion, to (a) be abusive, libelous, defamatory or obscene, (b) be fraudulent, deceptive or misleading,
                            (c) violate a copyright or trademark or other intellectual property right of another, (d) contain or have attached a program, virus, worm, or other device or code that could pose a security risk to Sugarlogger Technologies Pvt. Ltd. or the Sugarlogger.com Site, or (e) be
                            offensive or otherwise unacceptable to Sugarlogger Technologies Pvt. Ltd .
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>COPYRIGHT</strong>
                    <ol>
                        <li>All content on the Sugarlogger.com Site, including but not limited to, all graphs, graphics, photographs, text, sounds, data, and audio and video clips, is the exclusive property of Sugarlogger Technologies Pvt. Ltd, its licensors, or its content suppliers, and is
                            protected by Indian copyright laws. The compilation, collection, selection, arrangement, assembly and coordination of all content available on the Site is the exclusive property of Sugarlogger Technologies Pvt. Ltd and protected by Indian copyright laws.
                        </li>
                        <li>All information shall be deemed the exclusive property of the Disclosing Party prior to uploading or entering any information into an individual Subscriber’s Account.</li>
                        <li>Except as provided in Section 3.8 herein or otherwise expressly agreed to in writing,, disclosure of any information to the Sugarlogger.com Site shall not transfer legal title to Sugarlogger Technologies Pvt. Ltd .</li>
                        <li>Sugarlogger Technologies Pvt. Ltd shall be entitled to have non-exclusive possession of the information submitted to or entered into a Subscriber’s Account subject to the terms of this Agreement. The right to possess such information shall be automatically terminated upon
                            the termination of this Agreement, unless (a) otherwise agreed to in writing; or (b) return or destruction of the information is not feasible, in which event the right of possession shall be limited to possession for the purpose(s) which make return or destruction of the
                            information not feasible.
                        </li>
                        <li>Information on the Sugarlogger.com Site may be displayed, reformatted, and/or printed for the Subscriber’s or User’s personal, non-commercial use only. Information on the Sugarlogger.com Site may not be reproduced, retransmitted, distributed, disseminated, sold,
                            published, broadcast, or circulated to or for anyone. Any copy made of information obtained through the Sugarlogger.com Site must include the copyright notice.
                        </li>
                        <li>The Sugarlogger.com Site and any additional sites that are owned or controlled by Sugarlogger Technologies Pvt. Ltd are trademarks of Sugarlogger Technologies Pvt. Ltd and are protected by laws. Any unauthorized use of trademarks appearing on the Site may constitute a
                            violation of law, which could result in both civil and criminal penalties.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>DISCLAIMER; NO WARRANTIES</strong>
                    <ol>
                        <li>THE Sugarlogger.com SITE IS PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE, TITLE, INFRINGEMENT, ACCURACY, RELIABILITY,
                            COMPLETENESS, TIMELINESS, USEFULNESS, ADEQUACY OR SUITABILITY OF THE CONTENT.
                        </li>
                        <li>Sugarlogger Technologies Pvt. Ltd CANNOT AND WILL NOT WARRANT AGAINST HUMAN AND MACHINE ERRORS, OMISSIONS, DELAYS, INTERRUPTIONS OR LOSSES, INCLUDING LOSS OF DATA OR INABILITY TO ACCESS DATA. FURTHER, Sugarlogger Technologies Pvt. Ltd CANNOT AND DOES NOT WARRANT OR
                            GUARANTEE THAT THE FUNCTIONS OR SERVICES PERFORMED ON THE Sugarlogger.com SITE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS IN THE Sugarlogger.com SITE WILL BE CORRECTED.
                        </li>
                        <li>Sugarlogger Technologies Pvt. Ltd CANNOT AND WILL NOT GUARANTEE THAT ANY ONE OR ALL OF YOUR HEALTHCARE PROVIDERS WILL TRANSMIT ALL OR ANY PORTION OF YOUR MEDICAL RECORDS OR OTHER HEALTH INFORMATION. YOU SHOULD NOT RELY EXCLUSIVELY ON THE Sugarlogger Technologies Pvt. Ltd
                            CONTENT TO DESCRIBE ACCURATELY AND COMPLETELY YOUR PAST, PRESENT, OR FUTURE PHYSICAL OR MENTAL HEALTH OR CONDITION OR THE PROVISION OF HEALTH CARE TO YOU.
                        </li>
                        <li>Sugarlogger Technologies Pvt. Ltd WILL NOT INDEPENDENTLY AND SEPARATELY VERIFY THE TRUTH AND ACCURACY OF INFORMATION SUPPLIED BY YOUR HEALTHCARE PROVIDERS OR ENTERED BY YOU. INFORMATION THAT IS SUBMITTED BY YOUR HEALTHCARE PROVIDERS OR ENTERED BY YOU OR YOUR DESIGNEE WILL
                            BE CONSIDERED BY Sugarlogger Technologies Pvt. Ltd AS ACCURATE AND COMPLETE. YOU AND YOUR HEALTHCARE PROVIDERS ARE SOLELY RESPONSIBLE FOR IDENTIFYING AND CORRECTING ANY AND ALL ERRORS IN INFORMATION STORED BY Sugarlogger Technologies Pvt. Ltd ON YOUR BEHALF.
                        </li>
                        <li>SUBSCRIBERS AND USERS OF THE Sugarlogger.com SITE ARE SOLELY RESPONSIBLE FOR (A) IMPLEMENTING AND MAINTAINING ADEQUATE PROCEDURES AND CHECKPOINTS TO SATISFY THEIR PARTICULAR REQUIREMENTS FOR ACCURACY OF DATA INPUT AND OUTPUT AND (B) MAINTAINING A MEANS EXTERNAL TO
                            Sugarlogger Technologies Pvt. Ltd FOR THE RECONSTRUCTION OF ANY LOST DATA.
                        </li>
                        <li>YOU UNDERSTAND AND AGREE THAT INFORMATION COMMUNICATED TO OR OTHERWISE ENTERED IN THE Sugarlogger.com SITE WILL BE COMMUNICATED OVER LOCAL EXCHANGE, INTEREXCHANGE AND INTERNET BACKBONE CARRIER LINES AND THROUGH ROUTERS, SWITCHES AND OTHER DEVICES OWNED, MAINTAINED AND
                            SERVICED BY THIRD PARTY LOCAL EXCHANGE AND LONG DISTANCE CARRIERS, UTILITIES, INTERNET SERVICE PROVIDERS AND OTHERS, ALL OF WHICH ARE BEYOND THE CONTROL OF Sugarlogger Technologies Pvt. Ltd .Sugarlogger Technologies Pvt. Ltd CANNOT AND WILL NOT ASSUME ANY LIABILITY FOR OR
                            RELATED TO THE DELAY, FAILURE, INTERRUPTION, INTERCEPTION OR CORRUPTION OF ANY DATA OR OTHER INFORMATION COMMUNICATED TO OR ENTERED IN THE Sugarlogger.com SITE.
                        </li>
                        <li>Sugarlogger Technologies Pvt. Ltd CANNOT AND WILL NOT GUARANTEE OR WARRANT THAT FILES AVAILABLE FOR DOWNLOADING FROM THIS SITE WILL BE FREE OF INFECTION BY VIRUSES, WORMS, TROJAN HORSES OR OTHER CODE THAT MANIFEST CONTAMINATING OR DESTRUCTIVE PROPERTIES.</li>
                        <li>Sugarlogger Technologies Pvt. Ltd CANNOT AND WILL NOT ASSUME ANY LIABILITY FOR ANY OF THE CONTENT ON THE SITE. RELIANCE ON ANY INFORMATION PRESENTED ON THE SITE IS AT THE USER’S OWN RISK. Sugarlogger Technologies Pvt. Ltd RESERVES THE RIGHT TO CHANGE OR DISCONTINUE ANY
                            ASPECT OR FEATURE OF THE SITE FROM TIME TO TIME WITHOUT NOTICE.
                        </li>
                        <li>
                            INFORMATION ENTERED BY A SUBSCRIBER OR USER OR PROVIDED BY HIS OR HER HEALTHCARE PROVIDERS AND ORGANIZATIONS WILL BE USED BY Sugarlogger Technologies Pvt. Ltd ONLY FOR THE FOLLOWING PURPOSES:
                            <ol>
                                <li>PROVIDING SUBSCRIBERS AND USERS THE ABILITY TO ACCESS AND USE THE Sugarlogger.com SITE VIA A VALID SUBSCRIBER ID AND PASSWORDS.
                                <li>PROVIDING EMERGENCY ACCESS AND USE OF A SUBSCRIBER’S ACCOUNT TO HEALTH CARE PROVIDERS WHO ACCESS THE Sugarlogger.com SITE USING A VALID EMERGENCY LOGIN PASSWORD.</li>
                                <li>AS NECESSARY FOR THE PROPER MANAGEMENT AND ADMINISTRATION OR IN ORDER TO CARRY OUT THE LEGAL RESPONSIBILITIES OF Sugarlogger Technologies Pvt. Ltd .</li>
                            </ol>
                        </li>
                        <li>Sugarlogger Technologies Pvt. Ltd CANNOT AND WILL NOT BE LIABLE FOR THE AUTHORIZED OR UNAUTHORIZED USE, MISUSE, AND/OR DISCLOSURE OF INFORMATION THAT IS STORED AND/OR MAINTAINED IN A SUBSCRIBER’S ACCOUNT, INCLUDING THE INFORMATION CONTAINED WITHIN THE EMERGENCY FOLDER
                            AND/OR ANY OF THE SECONDARY FOLDERS.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>INDEMNIFICATION</strong>
                    <br/>
                    You agree to indemnify, defend, protect, release, and hold Sugarlogger Technologies Pvt. Ltd , its officers, directors, employees, agents, and its affiliates, Information Providers, and Suppliers and their respective officers, directors, agents, and employees harmless from and
                    against any and all losses, expenses, damages to persons or property, injuries or deaths of persons, liability, claims, liens, demands, and causes of action, including claims of infringement of copyright, trademark, or other intellectual property rights, and including the amounts
                    of judgments, penalties, interest, court costs, and legal fees including reasonable attorney’s fees incurred by Sugarlogger Technologies Pvt. Ltd, its affiliates or their respective officers, agents, and employees in defense of same (“Claims”) Sugarlogger Technologies Pvt. Ltd in
                    favour of any person, corporation, or other entity, including the parties hereto and their employees, contractors, and agents in connection with this Agreement or any activity related to Your Account or Your use of the Sugarlogger.com Site. You understand and agree that such
                    indemnity shall apply regardless of whether the Claims arise in whole or in part from the actual or alleged sole, comparative, concurrent, active, passive, contributory or gross negligence of Sugarlogger Technologies Pvt. Ltd , its affiliates and their respective officers,
                    directors, agents, and employees or by you or any other person accessing and/or using the Site and/or your Account.
                </li>
                <li>
                    <strong>WAIVER, RELEASE AND LIMITATION OF LIABILITY</strong>
                    <ol>
                        <li>You agree that neither Sugarlogger Technologies Pvt. Ltd nor its officers, directors, employees, and agents, nor its affiliates, Information Providers, or Suppliers and their respective officers, directors, employees, and agents shall have any liability to you under any
                            theory of liability or indemnity in connection with, Sugarlogger Technologies Pvt. Ltd out of, or in any way incident to this Agreement or any activity related to your Account or your access or use of the Sugarlogger.com Site. You hereby release and forever waive any and
                            all claims you may have against Sugarlogger Technologies Pvt. Ltd , its officers, directors, employees, and agents and its affiliates, Information Providers, and Suppliers and their respective officers, directors, employees, and agents for losses or damages you sustain in
                            connection with your use of the Sugarlogger.com Site.
                        </li>
                        <li>Notwithstanding the foregoing paragraph, the total collective liability of Sugarlogger Technologies Pvt. Ltd , its officers, directors, employees, and agents, and its affiliates, Information Providers, and Suppliers and their respective officers, directors, employees, and
                            agents, if any, for losses or damages shall not exceed the fees paid during one (1) calendar year by the Subscriber for the particular information or service provided. All other damages, direct or indirect, special, incidental, consequential or punitive, including but not
                            limited to, lost profits or damages resulting from lost data or business interruption arising Sugarlogger Technologies Pvt. Ltd from any use of or inability to use any Content or other parts of the Sugarlogger.com Site, are hereby excluded even if Sugarlogger Technologies
                            Pvt. Ltd , its officers, directors, employees, and agents and its affiliates, Information Providers, and Suppliers and their respective officers, directors, employees, and agents have been advised of the possibility of such damages.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>MISCELLANEOUS</strong>
                    <ol>
                        <li><strong>Applicable Law.</strong>  This Agreement is governed by and is to be construed according to the jurisdiction of the Vadodara, Gujarat, without regard to that State’s conflicts of law principals.</li>
                        <li><strong>Third Party Rights.</strong> The provisions of paragraphs 10 (Indemnification) and 11 (Waiver, Release and Limitation of Liability) are for the benefit of Sugarlogger Technologies Pvt. Ltd and its officers, directors, employees, and agents, and its affiliates,
                            Information Providers, Suppliers, and their respective officers, directors, employees, and agents. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf.
                        </li>
                        <li><strong>Non-waiver.</strong> Sugarlogger Technologies Pvt. Ltd 's failure to insist upon or enforce strict performance of any provision of this Agreement or to exercise any rights herein shall not be construed as a waiver of any provision or relinquishment to any extent
                            of Crealiant Labs Pvt. Ltd’s right to assert or rely upon such provisions or rights on any future occasion. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement.
                        </li>
                        <li><strong>Assignment.</strong> Sugarlogger Technologies Pvt. Ltd may assign its rights and obligations under this Agreement to any party at any time without notice. Commencing immediately upon such assignment, Sugarlogger Technologies Pvt. Ltd shall be relieved of any
                            further obligation hereunder.
                        </li>
                        <li>
                            <strong>Notices.</strong> Any notice which may be or is required to be given under this Agreement shall be in writing and shall be sent by Post and/orfax and/or courier and/or as an electronic record attached to an e-mail or sent to the Subscriber’s Site message box. All
                            notices shall be effective upon receipt by the party at each party’s address as follows:
                            <br/>
                            <strong>Sugarlogger Technologies Pvt. Ltd</strong><br/>
                            201, Crystal Plaza,<br/>
                            CST Road, Kalina<br/>
                            Near Kalina University,<br/>
                            Mumbai<br/>
                            Maharashtra<br/>
                            India<br/>
                            ATTN: Chief Executive Officer<br/>
                            Email: info@Sugarlogger.com.in<br/>
                        </li>
                        <li><strong>Severability.</strong> The provisions of this Agreement are severable, and in the event any provision hereof is determined to be invalid or unenforceable, such invalidity or unenforceability shall not in any way affect the validity or enforceability of the
                            remaining provisions hereof, but such invalid or unenforceable provision shall be deemed modified to the extent necessary to render it valid or enforceable, preserving to the fullest extent permissible the intent of the parties set forth herein.
                        </li>
                        <li><strong>Amendments.</strong> Sugarlogger Technologies Pvt. Ltd reserves the right to amend this Agreement from time to time without notice. Such Amendment shall be effective immediately upon either posting the Amendment or this Agreement as amended. A Subscriber’s or
                            User’s continued access to or use of the Sugarlogger.com Site shall be deemed the Subscriber’s conclusive acceptance of any and all Amendments and the most current amended Agreement.
                        </li>
                        <li><strong>Force Majeure.</strong> Neither Party will be liable for any performance failure or delay for any cause beyond that Party’s reasonable control.</li>
                        <li><strong>Entire Agreement.</strong> This Agreement, as amended from time to time, constitutes the entire agreement and understanding between the parties with respect to the services, responsibilities, and obligations specified and agreed upon in this agreement and
                            supersede all prior oral or written agreements and understandings between the parties with respect to such services, responsibilities, and obligations.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>CANCELLATION AND REFUND POLICY</strong>
                    <br/>No refund will be given after 7 days from the day the payment is made to the company. However, in case a written request for refund reaches the company within 7 days and the consumer has not availed the purchased service, then the entire amount paid will be credited back to
                    the account the payment was done from.
                    <br/>The stated amount due for refund shall be processed within 15 business working days from the date of the cancellation, subject to all terms and conditions being met successfully.
                </li>
            </ol>

            <br/>
            <br/>
        </div>
    </section>

{% endblock %}
