{% extends ':Emails:email_layout.html.twig' %}
{% block email_content %}
    <tr>
        <td>
            <h3 align="center" style="margin-bottom: 0;">Forgot Password!</h3>
            <p style="border-top: 1px solid #dedede; margin: 10px 20px;"></p>
        </td>
    </tr>
    <tr>
        <td style="padding: 6px 20px;">
            <p>Hi {{ name }},</p>

            We have received a request for password change for username <i>{{ userName }}</i> at SugarLogger.com
            <br/>
            <br/>
            <br/>
            <strong style="font-size:14px;"><a href="{{ changePasswordLink }}" target="_blank">Click here to set your new password.</a></strong>
            <br/>
            <br/>
            <br/>

            <p>If you have any questions please reach out to us at <strong>support@sugarlogger.com</strong>.</p>

        </td>
    </tr>
{% endblock %}